@media only screen and (max-width: 1000px) {
    #buscador_tipo{
    	display:none !important;
    	
    }
    #buscador_txt{
    	border-radius: 10px 0px 0px 10px !important;
		-moz-border-radius-topleft: 10px !important;
		-moz-border-radius-bottomleft: 10px !important;
		margin-left:20px !important;
    }
   span.fecha_come{
   		display:none !important;
   }
   span.visible_{
   	display:none !important;
   }

}
h1{
	font-size: 1.1em;
}
h2{
	font-size: 1.1em;
}

body{
	text-align: left;
	font-weight:normal;
	
	background-image: none;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	color:  #303030;
	font-size: 15px;
	margin:0;
	padding:0;
	
	}

.registro{
	text-align:center;
	padding:8px 0px;
	margin:10px 0;
}
.registro a{
	padding: 2px 15px;
	display: inline-block;
}
#contenedor_variable{
	padding: 10px 0;
	text-align:left;
	overflow:hidden;
	width:100%;
}
#contenido{
	padding:10px 10px;
}
#menu_device{
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	height:40px;
	border-bottom:1px solid #000;
	cursor:pointer;
	text-align:center;
	font-size:1.2em;
	overflow:hidden;
	height:40px;
}
#menu_device span,#menu_device li{
	padding-top:10px;
	display: inline-block;
	color:#fff;
	text-shadow: 1px 1px 1px #000;
}
#menu_device ul{
	padding:0;
	margin:0;
}
#menu_device li{
	padding:10px 10px;
	border-right: 1px solid #000;
}
#menu_device li.last{
	border-right: 0px;
}
#contenedor_titulo_buscador{
	padding: 20px 0;
	border-bottom: 1px solid #96A6C5;
	background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
#contenedor_titulo_buscador #buscar_boton input{
	background:  -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */

}
a{
	color:  #015269;
	font-size:  1.1em;
	text-decoration:none;
}

a:visited{
	color:  #00244a;
	text-decoration:none;
}
.espacio_standart{
	margin-top:10px;
	padding:5px 10px;
	text-align: center;
}
span.volver{
	margin-top:20px;
	display: block;
	float:left;
	clear: both;
	margin-left:20px;
}
span.volver a{
	border:0px;
	color: inherit;
}
#contenido .noticia_completa {
	width:100%;
	clear:both;
	padding-left:4px !important;
	margin-top: 0px !important;
}
#contenido .listado div.contenido_noticia{
	max-height: 120px;
	margin-bottom:10px;
	overflow: hidden;
}
#contenido div.contenido_noticia{
	padding-top:25px;
	padding-left:4px !important;
}
#contenido div.extras_noticia{
	padding-left:0px !important;
	clear:both;
	width:100%;
}
#contenido div.extras_noticia span.extra_fecha_noticia{
	display: none;
}
#contenido .noticia_admin{
	display: inline;
}
#contenido div.categoria_noticia{
	float:right;
	height:0px;
	width:0px;
}
#contenido .noticia_admin,.este_comentario span.comentario_admin{
	position:absolute;
	padding:7px;
	margin-left:-100px;
	margin-top:25px;
	text-align: right;
}
.este_comentario span.comentario_admin{
	margin-top:0px;
}
.contenido_noticia pre{
	margin-top:10px;
	width:100%;
}
ul#menu #categoria_0{
	padding:20px 4px !important;
}
ul#menu{
	padding-bottom:20px !important;
}
#menu li{
	padding:8;
	font-size:1.1em;
	border-color: #96A6C5;
	border-style: dotted !important;
}
#menu .opt{
	background-position: 8px -140px;
	background-repeat: no-repeat;
	background-image: url('/img/sprites.png');
} 
.cajaOpciones{
	left:50% ;
	margin: -20px 0px 0px -100px !important;
}

.comentario_completo div.respuestas div.comentario_completo{
	margin-left: 0px !important;
}
.comentario_completo span.propietario .nombre_autor {
	max-width: 100px;
	overflow: hidden;
	display: block;
	height: 18px;
}
div.paginado a,div.paginado strong{
	-moz-box-shadow: 0px 8px 15px #9e9e9e;
	-webkit-box-shadow: 0px 8px 15px #9e9e9e;
	box-shadow: 0px 8px 15px #9e9e9e;
	border-color: #9e9e9e;
}
#login_social{
	width:120px;
	text-align:center !important;
	margin-right:15px;
}
#contenedor_portal{
	min-width: 475px;
}
#login_social_devices{
text-align:center;
}
