
.formulario_estandar legend{
	padding: 0px 10px;
	font-size: 1.4em;
}
.formulario_estandar fieldset{
	padding: 45px 50px 23px 50px;
	margin:13px 0;
	border-width: 1px;
	border-style: dashed;
}

.formulario_estandar input, .formulario_estandar select, .formulario_estandar textarea{
	padding: 6px;
	font-size: 1.2em;
	width: 250px;
	
	margin-top: 2px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius:2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	color:#303030;
	background:#ffffff;
	behavior: url('/img/PIE.htc');
}
.formulario_estandar textarea{
	width:500px;
	min-height:60px; 
}
.formulario_estandar .seguridad img{
	vertical-align: middle;
}
.formulario_estandar .seguridad input{
	width:100px;
}
.ghost_input{color: #ccc !important;font-style: italic}

.formulario_estandar input[type="checkbox"]:checked::after {
	content: url(/img/checkmark.png);
	display: block;
	position: absolute;
	top: -6px;
	left: -5px;
	
}

.formulario_estandar input[type="checkbox"],.formulario_estandar  input[type="radio"]

 {
 	margin:5px 0px !important;
	-webkit-appearance: none;
	width: 13px;
	height: 13px;
	margin: 0;
	cursor: pointer;
	vertical-align: middle;
	background: white;
	border: 1px solid #BDC7D8;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	behavior: url('/img/PIE.htc');
	padding:0;
	*border:0px;
}
#login_form input[type=text],#login_form input[type=password]{
	width: 150px;
	font-size: 1em;
	padding: 4px 5px;
	text-align: center;
}

.formulario_estandar th.separador{
	padding-top:15px;
	padding-bottom:15px;
	font-size:1.1em;
	font-weight: bold;
}

.respuesta_fallida{
	color: #C90000;
	text-shadow:1px 1px 0px #000;
}
.formulario_estandar .boton_standart,.boton_standart{
	margin:8px 0px;
	text-align: center;
	cursor: pointer;
	font-weight:bold;
	padding: 4px 15px;
	width:auto;
	-webkit-border-radius:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url('/img/PIE.htc');
}
.formulario_estandar .boton_standart:hover{
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	background: #ABBCD9;
}

#js_commentText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 250px;
	background: black;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #7A7A7A;
	margin: 14px 0px;
	
	color: white;
}
