@media all and (min-width: 1224px) , all and (min-device-width: 1424px) {
  #contenidos_extra span {
      display:block !important;
    }

}
@media all and (max-width: 1000px) , all and (max-device-width: 1200px) {
	#logo{
    	display:none !important;
    }
    #buscador_tipo{
    	display:none !important;
    	
    }
    #buscador_txt{
    	border-radius: 10px 0px 0px 10px !important;
		-moz-border-radius-topleft: 10px !important;
		-moz-border-radius-bottomleft: 10px !important;
		margin-left:20px !important;
    }
    #contenido div.categoria_noticia {
		display:none !important;
	}
	#descripcion{
		font-size:0.5em !important;
		margin-top:5px;
	}

}
@media all and (max-width: 600px), all and (max-device-width: 800px) { 
	#bloque_izq{
		display:none !important;
	}
	#caja_login{
		position:fixed;
		top:-200px;
		right:10px;
	
	}
	#mostarLogin{
		display: block !important;
	}
	#gototop{
		display:none !important;
	}
	#descripcion{
		font-size:0.5em !important;
		margin-top:5px;
	}
	#contenedor_titulo_buscador #titulo{
		margin-top:10px !important;
	}
	span.visible_{
   	display:none !important;
   }
   	#contenedor_variable{
		width:460px !important;
	}
	#cuerpo{
		padding:0 !important;
	}
   	#contenedor_portal{
		width: 475px !important;
		padding:0;
		margin:0;
	}
	.formulario_estandar textarea{
		width: 340px !important;
	}
	.pantallas_grandes{
		display:none;
	}
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.4em;
}
#cabecera{
	width:100%;
	height: 170px;
	
	overflow:hidden;
}
#contenedor_titulo_buscador{
	height: 170px;
	overflow:hidden;
	
}
#mostarLogin{
	display: none;
	position: fixed;
	top:10px;
	right: 10px;
	background-image: url("/img/sprites.png");
    background-repeat: no-repeat;
    border: 0 none;
    background-position: 0 -114px;
    cursor: pointer;
    z-index: 5;
}

#caja_login div.registro a{

	padding: 0px 2px;
	margin:3px 2px 1px 2px;
	background: #EDEDED;
	display:  inline-block;
}
#login_social_devices{
	padding:0px;
	margin:0px;
	height:0px;
}
#caja_login .formulario_estandar th,#caja_login a,#caja_login input[type="submit"]{
	font-size:13px;
}


#caja_login .formulario_estandar{
	
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
}
#caja_login div.avatar{
	float:left;
	margin:5px 10px 0px 16px;
	padding:6px 6px 10px 6px;
	border:1px solid #949494;	
	box-shadow: 3px 4px 6px #707070;
	background: #fff;
	behavior: url('/img/PIE.htc');
}
#caja_login div.avatar img{
	border:1px solid #EDEDED;
}

#caja_login li{
	text-align:left;
	margin-top:4px;
}
#caja_login .logout{
	text-align:right;
	padding:0px 30px 0px 0px;
}
#caja_login .logout img{
	border:0px;
	background-position: 0 -114px;
}
#caja_login .nombre_user{
	padding:0;
	margin-bottom:7px;
	font-size: 1.1em;
	height:24px;
	overflow: hidden;
}
#caja_login ul{
	padding: 0 0 0 6px;
	font-size: 1em;
	margin-top: 10px 0 0 3px;
}
#caja_login .opc_user{
	overflow:hidden;
	word-wrap: break-word;

	height: 85px;
}
#caja_login .opc_user li,#caja_login .opc_user li a{
	color: #303030 !important;
	list-style:none;
}

#logo{
	width:200px;
	float:left;
	height: 170px;
	 display: table;
	overflow:hidden;
	text-align:center;
	margin-left:10px;
}
#logo div{
    display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
    text-align: center;
}
#logo img{
	display: block;
    margin: 0 auto;
	border:0px;
}
#arbol{
	width:100%;
	padding:15px 0;
	
}
#calendario{
	padding:0 0 5px 0;
	text-align:center;
	margin-bottom:30px;
	width:100%;
	font-size: 0.9em;
}
#calendario a{
	font-size: 1.1em;
}
#calendario table {
    margin-left:15px
 }
#bloque_izq{
	float:left;
	width:200px;
	padding:0px 20px 0px 10px;
	height: 100%;
	text-align:left;
	overflow: hidden;
	
}#bloque_der{
	float:left;
	width:200px;
}
#contenido{
	padding:0;
	margin:0;
	overflow: hidden;
	clear: none;
	
}
#contenedor_variable{
	
}
#gototop{
	position: fixed;
	left: 0;
	bottom: 0px;
	height: 310px;
	width: 91px;
	cursor: pointer;
	margin-left: 60px;
}
#gototop img{
	display: block;
}
#gototop img.arriba{
	background-position: -78px -82px;
	margin-bottom:15px;
}
#gototop img.abajo{
	background-position: -168px -79px
}
.contacto_links img{
	border:0px;
	width:32px;
	height:32px;
	cursor: pointer;
}
.contacto_links .email{
	background-position: 0 0;
}

.contacto_links .youtube{
	background-position: -33px 0;
}

.contacto_links .twitter{
	background-position: -65px 0;
}

.contacto_links .tuenti{
	background-position: -96px 0;
}

.contacto_links .steam{
	background-position: -130px 0;
}

.contacto_links .rss{
	background-position: -163px 0;
}
.contacto_links .facebook{
	background-position: -194px 0;
}
.contacto_links .pag_perso{
	background-position: -225px 0;
}

#contenedor_titulo_buscador #titulo_desc a{
	font-size: inherit;
	color: inherit;
}
#img_sobremi{
	float:left;
	margin: 0 20px 0 40px;
	display: block;
}
#calendario td{
	padding:4px;
}
#calendario th{
	font-weight: normal;
	padding:4px 0;
}
.titulo_l{
	font-size:1.1em;
	font-weight: bold;
	text-align: left;
	margin-bottom:8px;
	display: block;
	margin-top:10px;
}
#contenido div.categoria_noticia{
	float:right;
	padding: 0px 20px;
	font-size:1.2em;
	height:25px;
}
#contenido .noticia_admin{
	display:none;
	margin-right:20px;
	padding:7px;
	background: url('/img/fondo_admin.png') repeat;
	border:1px solid #7D7D7D;
	-webkit-border-radius:10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	behavior: url('/img/PIE.htc');
}
.comentario_completo span.comentario_admin{
	display: none;
	padding:9px;
	background: url('/img/fondo_admin.png') repeat;
	border:1px solid #7D7D7D;
	-webkit-border-radius:10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	behavior: url('/img/PIE.htc');
}
.este_comentario:hover span.comentario_admin{
	display: inline;
}
.expandido{
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;

    -webkit-background-size: cover;
    -o-background-size: cover;
}
.mosaico{
	background-repeat: repeat;
}
.centrado{
	background-position: center top;
	background-repeat: no-repeat;
}
.fijo{
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
.fondo_izquierda{
	background-position: top left;
	background-repeat: no-repeat;
}
.fondo_derecha{
	background-position: top right;
	background-repeat: no-repeat;
}
.imagen_repite_y{
	background-repeat: repeat-y;
	background-position: left;
}
.imagen_repite_x{
	background-repeat: repeat-x;
	background-position: top;
}
div.contenedorTabs{
	margin-top:15px;
}
.contenedorTabs .opciontab{
	float:left;
	padding:5px 14px;
	border-width: 1px;
	border-style: dashed;
	border-bottom: 0px;
	margin:0 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-radius:5px 5px 0 0;
	cursor: pointer;
	behavior: url('/img/PIE.htc');
}
.contenedorTabs .active,.contenedorTabs .opciontab:hover{
	background:#cfe0fc;	
	border-style: solid;
}
.contenedorTabs .active span,.contenedorTabs .opciontab:hover span{
	font-weight: bold;
}

.contenedorTabs .contidoTabs{
	clear: both;
	border-width: 1px;

	border-style: solid;
	padding:16px;
}
div.contenedorTabs span.indica{
	display: block;
	padding:10px 30px;
	font-style: italic
}
div#diseno_pre td{
	width:140px;
	text-align:center;
}
div#diseno_pre img{
	border:1px solid #ccc;
}
#login_social{
	float:right;
	margin-right:15px;
}